
.App{
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 20%;
}


.login-btn{
  margin-top: 15px;
    background-color: #1ED760;
    text-align: center;
    border: 2px solid #1D7F2D;
    font-size: 25px;
    font-family: "Fredoka One";
    border-radius: 60px;
    width: 200px;
    height: 60px;
    outline: transparent;
    color: #000;
}